{% extends 'base.html' %}

{% block content %}
    <p>Lorem ipsum</p>
    {% for bron in brons %}
        <h2><b>Откуда:</b> {{ bron.origin }}</h2>
        <p><b>Куда:</b> {{ bron.destination }}</p>
        <p><b>Дата:</b> {{ bron.date }}</p>
        <p><b>Время отправления:</b> {{ bron.departure_time }}</p>
        <p><b>Время прибытия:</b> {{ bron.arrival_time }}</p>
        {% if user.is_superuser %}
            <p><b>Подтверждено администратором: </b>{{ bron.admin_confirmed }}</p>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="bron_id" value="{{ bron.id }}">
                <input type="hidden" name="form1" value="test">
                <input type="checkbox" name="confirm">
                <input type="submit" value="Отправить">
            </form>
        {% endif %}
        <br><br>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="form2" value="test">
        <label for="origin">Откуда:</label><br>
        <input type="text" id="origin" name="origin" maxlength="255" required><br><br>

        <label for="destination">Куда:</label><br>
        <input type="text" id="destination" name="destination" maxlength="255" required><br><br>

        <label for="date">Дата:</label><br>
        <input type="date" id="date" name="date" required><br><br>

        <label for="departure_time">Время отправления:</label><br>
        <input type="time" id="departure_time" name="departure_time" required><br><br>

        <label for="arrival_time">Время прибытия:</label><br>
        <input type="time" id="arrival_time" name="arrival_time" required><br><br>

        <input type="submit" value="Отправить">
    </form>

{% endblock content %}